/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
    font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

input {
    height: 40px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 450px;
}

img {
    width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

.container {
    width: 100%;
    padding: 0 100px;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 40px;
}

