/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
    font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

input {
    height: 40px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 450px;
}

img {
    width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

.container {
    width: 100%;
    padding: 0 25px;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    /* repeat(auto-fill, minmax(150px, 1fr)); */
    grid-gap: 15px;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 450px){
    .container {
        padding: 0 50px;
        grid-gap: 20px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 700px){
    .container {
        padding: 0 50px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

@media (min-width: 900px){
    .container {
        padding: 0 74px;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
    }
}
